<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/cadastro_user.css">
	<title>CADASTRO - ALLEVENTS</title>
	<link rel="shortcut icon" type="image/x-png" href="img/logo.png">
	<link rel="stylesheet" href="css/background.css" type="text/css" />

</head>



<body>



	<div class="login-box">
		<img src="img/logo.png" > 
		
	<h1>Registre-se</h1>

		<div class="texto-box">
			<i class="fa fa-user-circle" aria-hidden="true" ></i>
			<input type="text" placeholder="Nome" name="name" value="">
		</div>
		<div class="texto-box">
			<i class="fa fa-id-card" aria-hidden="true" ></i>
			<input type="text" placeholder="CPF" name="CPF" value="">
		</div>
		<div class="texto-box">
			<i class="fa fa-address-book-o" aria-hidden="true" ></i>
			<input type="text" placeholder="E-mail" name="email" value="">
		</div>
		<div class="texto-box">
			<i class="fa fa-phone" aria-hidden="true" ></i>
			<input type="tel" placeholder="Telefone" name="tel" value="">
		</div>
		<div class="texto-box">
			<i class="fa fa-birthday-cake" aria-hidden="true" ></i>	
			<input id="date" name="Data de nascimento" type="Date">
		</div>
		<div class="texto-box">
			<i class="fa fa-lock" aria-hidden="true" ></i>
			<input type="Password" placeholder="Senha" name="Password" value="" maxlength="8">
		</div>
		<div class="texto-box">
			<i class="fa fa-lock" aria-hidden="true" ></i>
			<input type="Password" placeholder="Confirmar senha" name="Password" value="" maxlength="8">
		</div>
		<input class="botao"  onClick="window.open('eventos.html')"  type="button" name="Confirm" value="Confirmar" >
		<input class="botao"  onClick="window.open('events.html')"  type="button" name="Voltar" value="Voltar">

	</div>

</body>
</html>