<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/teste.css">
  <title>teste - ALLEVENTS</title>
  <link rel="shortcut icon" type="image/x-png" href="img/logo.png">
  <link rel="stylesheet" href="css/background.css" type="text/css" />
  <link rel="stylesheet" href="css/navbar.css" type="text/css" />

</head>

<body>
  <header>
   <div class="navbar">
     <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
     <a href="#"><i class="fa fa-fw fa-search"></i> Buscar Eventos</a> 
     <a href="#"><i class="fa fa-fw fa-calendar"></i> Meus Eventos</a>
   </div>
 </header>

  <div class="login-box">
    <div class="busca">
      <i class="fa fa-search" aria-hidden="true" ></i>
      <input type="text" placeholder="Buscar" name="search" value="">
      <input class="buscar" type="submit" placeholder="" name="search" value="Buscar">
    </div>
   <!-- <div class="texto-box">
      <i class="fa fa-lock" aria-hidden="true" ></i>
      <input type="Password" placeholder="Senha" name="senha" value="" maxlength="8">
    </div>
    <input class="botao" type="button" onClick="window.open('eventos.html')" name="Entrar para tela de eventos" value="Entrar">
    <input class="botao" type="button" onClick="window.open('cadastro_user.html')" name="Cadastrar novo usuário" value="Cadastrar-se"> -->

  </div>

</body>
</html>